<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <Sitecore.RestSharp>
      <service name="mediaframework_youtube" type="Sitecore.RestSharp.Service.ServiceConfiguration, Sitecore.RestSharp">
        <baseUrl>https://www.googleapis.com</baseUrl>

        <jsonSerializer type="Sitecore.RestSharp.Serialization.JsonNetSerializer, Sitecore.RestSharp">
          <contentType>application/x-www-form-urlencoded</contentType>
        </jsonSerializer>

        <handlers hint="raw:AddHandler">
          <add contentType="application/json" type="Sitecore.RestSharp.Serialization.JsonNetDeserializer, Sitecore.RestSharp"/>
          <add contentType="text/json" type="Sitecore.RestSharp.Serialization.JsonNetDeserializer, Sitecore.RestSharp"/>
          <add contentType="text/x-json" type="Sitecore.RestSharp.Serialization.JsonNetDeserializer, Sitecore.RestSharp"/>
          <add contentType="text/javascript" type="Sitecore.RestSharp.Serialization.JsonNetDeserializer, Sitecore.RestSharp"/>
        </handlers>

        <headers hint="raw:AddHeader">
          <header name="Content-Type" value="application/x-www-form-urlencoded"/>
        </headers>

        <parameters hint="raw:AddParameterReplacer">
          <add name="id" type="Sitecore.RestSharp.Parameters.AbsentUrlParametersReplacer, Sitecore.RestSharp"/>
          <add name="mine" type="Sitecore.RestSharp.Parameters.AbsentUrlParametersReplacer, Sitecore.RestSharp"/>
          <add name="pageToken" type="Sitecore.RestSharp.Parameters.DymamicParameterReplacerWithEmptyChecking, Sitecore.RestSharp"/>
        </parameters>

        <requestProvider type="Sitecore.RestSharp.Request.RequestProvider, Sitecore.RestSharp">
          <format>Json</format>
          <requests hint="raw:AddRequest">
            
            <read name="read_videos" url="/youtube/v3/videos?part=id%2Csnippet%2CcontentDetails%2Cstatistics%2Cstatus%2CtopicDetails%26id={id}%26maxResults=50%26pageToken={pageToken}%26key={key}%26access_token={access_token}"/>
            <read name="read_playlistitems" url="/youtube/v3/playlistItems?part=id%2Csnippet%2Cstatus%2CcontentDetails%26playlistId={playlistId}%26maxResults=50%26pageToken={pageToken}%26key={key}%26access_token={access_token}"/>
            <read name="read_playlists" url="/youtube/v3/playlists?part=id%2Csnippet%2Cstatus%26maxResults=50%26pageToken={pageToken}%26key={key}%26access_token={access_token}"/>
            <read name="read_channels" url="youtube/v3/channels?part=snippet%2Cstatistics%2Cstatus%26mine=true%26maxResults=50%26pageToken={pageToken}%26key={key}%26access_token={access_token}"/>
            <read name="read_tags" url="/youtube/v3/videos?part=id%2Csnippet%26id={id}%26maxResults=50%26pageToken={pageToken}%26key={key}%26access_token={access_token}"/>

            <read name="read_playlist_playlistitems" url="/youtube/v3/playlistItems?part=id%2CcontentDetails%26playlistId={playlistId}%26maxResults=50%26pageToken={pageToken}%26key={key}%26access_token={access_token}"/>
            <read name="read_channel_playlists" url="/youtube/v3/playlists?part=id%26mine=true%26maxResults=50%26pageToken={pageToken}%26key={key}%26access_token={access_token}"/>
            <read name="read_channel_videos" url="/youtube/v3/search?part=id%26forMine=true%26type=video%26maxResults=50%26pageToken={pageToken}%26key={key}%26access_token={access_token}"/>

            <create name="authenticate_token" url="/oauth2/v4/token?code={code}%26client_id={client_id}%26client_secret={client_secret}%26redirect_uri={redirect_uri}%26grant_type=authorization_code" />
            <create name="authenticate_refreshtoken" url="/oauth2/v4/token?client_id={client_id}%26client_secret={client_secret}%26refresh_token={refresh_token}%26grant_type=refresh_token" />

          </requests>
        </requestProvider>
      </service>
    </Sitecore.RestSharp>
  </sitecore>
</configuration>