<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="mediaFramework:ManualImport:YouTube" type="Sitecore.MediaFramework.Commands.ImportContent,Sitecore.MediaFramework"/>
      <command name="mediaFramework:ManualCleanup:YouTube" type="Sitecore.MediaFramework.Commands.CleanupContent,Sitecore.MediaFramework"/>
      <command name="mediaFramework:Authentication:YouTube" type="Sitecore.SharedSource.MediaFramework.YouTube.Commands.AuthenticationCommand,Sitecore.SharedSource.MediaFramework.YouTube"/>
    </commands>

    <controlSources>
      <source mode="on" namespace="Sitecore.SharedSource.MediaFramework.YouTube" assembly="Sitecore.SharedSource.MediaFramework.YouTube" folder="/sitecore/shell/applications/MediaFramework/YouTube/Wizards/Authentication" deep="true" />
    </controlSources>

    <ui>
      <references>
        <reference id="Sitecore.SharedSource.MediaFramework.YouTube">/bin/Sitecore.SharedSource.MediaFramework.YouTube.dll</reference>
      </references>
    </ui>

    <mediaFramework>
      <synchronizers>
        <add name="youtube_video"
             entity="Sitecore.SharedSource.MediaFramework.YouTube.Entities.Video, Sitecore.SharedSource.MediaFramework.YouTube"
             templateId="{E2619092-0CE0-450E-B2AC-F3299F42ED4C}"
             type="Sitecore.SharedSource.MediaFramework.YouTube.Synchronize.Synchronizers.VideoSynchronizer, Sitecore.SharedSource.MediaFramework.YouTube">
          <entityCreator type="Sitecore.SharedSource.MediaFramework.YouTube.Synchronize.EntityCreators.VideoEntityCreator, Sitecore.SharedSource.MediaFramework.YouTube" />
          <databaseFallback type="Sitecore.SharedSource.MediaFramework.YouTube.Synchronize.Fallback.VideoFallback, Sitecore.SharedSource.MediaFramework.YouTube" />
          <references hint="raw:AddReference">
            <tags type="Sitecore.SharedSource.MediaFramework.YouTube.Synchronize.References.VideoTagsSynchronizer, Sitecore.SharedSource.MediaFramework.YouTube">
              <field>{865BD22C-D24B-4FF1-9B5D-1C640704621B}</field>
            </tags>
          </references>
        </add>

        <add name="youtube_playlist"
             entity="Sitecore.SharedSource.MediaFramework.YouTube.Entities.Playlist, Sitecore.SharedSource.MediaFramework.YouTube"
             templateId="{75DABEF6-6A24-4992-9887-5D027F9D73E7}"
             type="Sitecore.SharedSource.MediaFramework.YouTube.Synchronize.Synchronizers.PlaylistSynchronizer, Sitecore.SharedSource.MediaFramework.YouTube">
          <entityCreator type="Sitecore.SharedSource.MediaFramework.YouTube.Synchronize.EntityCreators.PlaylistEntityCreator, Sitecore.SharedSource.MediaFramework.YouTube" />
          <databaseFallback type="Sitecore.SharedSource.MediaFramework.YouTube.Synchronize.Fallback.PlaylistFallback, Sitecore.SharedSource.MediaFramework.YouTube" />
          <references hint="raw:AddReference">
            <playlistitems type="Sitecore.SharedSource.MediaFramework.YouTube.Synchronize.References.PlaylistPlaylistItemsSynchronizer, Sitecore.SharedSource.MediaFramework.YouTube">
              <field>{5DF2FF2D-5D4F-4846-9A08-BD52AC805754}</field>
            </playlistitems>
          </references>
        </add>

        <!-- import playlist items as videos -->
        <add name="youtube_playlistitems"
             entity="Sitecore.SharedSource.MediaFramework.YouTube.Entities.PlaylistItem, Sitecore.SharedSource.MediaFramework.YouTube"
             templateId="{E2619092-0CE0-450E-B2AC-F3299F42ED4C}"
             type="Sitecore.SharedSource.MediaFramework.YouTube.Synchronize.Synchronizers.PlaylistItemSynchronizer, Sitecore.SharedSource.MediaFramework.YouTube">
          <entityCreator type="Sitecore.SharedSource.MediaFramework.YouTube.Synchronize.EntityCreators.PlaylistItemEntityCreator, Sitecore.SharedSource.MediaFramework.YouTube" />
          <databaseFallback type="Sitecore.SharedSource.MediaFramework.YouTube.Synchronize.Fallback.PlaylistItemFallback, Sitecore.SharedSource.MediaFramework.YouTube" />
        </add>

        <add name="youtube_channel"
             entity="Sitecore.SharedSource.MediaFramework.YouTube.Entities.Channel, Sitecore.SharedSource.MediaFramework.YouTube"
             templateId="{18B3281E-E27E-419F-9312-BE36BF3FB3EB}"
             type="Sitecore.SharedSource.MediaFramework.YouTube.Synchronize.Synchronizers.ChannelSynchronizer, Sitecore.SharedSource.MediaFramework.YouTube">
          <entityCreator type="Sitecore.SharedSource.MediaFramework.YouTube.Synchronize.EntityCreators.ChannelEntityCreator, Sitecore.SharedSource.MediaFramework.YouTube"/>
          <databaseFallback type="Sitecore.SharedSource.MediaFramework.YouTube.Synchronize.Fallback.ChannelFallback, Sitecore.SharedSource.MediaFramework.YouTube"/>
          <references hint="raw:AddReference">
            <videos type="Sitecore.SharedSource.MediaFramework.YouTube.Synchronize.References.ChannelVideosSynchronizer, Sitecore.SharedSource.MediaFramework.YouTube">
              <field>{084474BB-C293-4D44-B288-46ACA75904EC}</field>
            </videos>
            <playlists type="Sitecore.SharedSource.MediaFramework.YouTube.Synchronize.References.ChannelPlaylistsSynchronizer, Sitecore.SharedSource.MediaFramework.YouTube">
              <field>{5772071A-1771-4B9E-A97C-6687A340DAB1}</field>
            </playlists>
          </references>
        </add>

        <add name="youtube_tag"
             entity="Sitecore.SharedSource.MediaFramework.YouTube.Entities.Tag, Sitecore.SharedSource.MediaFramework.YouTube"
             templateId="{77D9FD44-E388-4534-B37D-A8F9AB8504B6}"
             type="Sitecore.SharedSource.MediaFramework.YouTube.Synchronize.Synchronizers.TagSynchronizer, Sitecore.SharedSource.MediaFramework.YouTube">
          <entityCreator type="Sitecore.SharedSource.MediaFramework.YouTube.Synchronize.EntityCreators.TagEntityCreator, Sitecore.SharedSource.MediaFramework.YouTube"/>
          <databaseFallback type="Sitecore.SharedSource.MediaFramework.YouTube.Synchronize.Fallback.TagFallback, Sitecore.SharedSource.MediaFramework.YouTube"/>
        </add>
      </synchronizers>

      <mediaImport>
        <importExecuters>
          <add name="import_youtube_tags" type="Sitecore.SharedSource.MediaFramework.YouTube.Import.TagCollectionImporter, Sitecore.SharedSource.MediaFramework.YouTube"/>
          <add name="import_youtube_assets" type="Sitecore.SharedSource.MediaFramework.YouTube.Import.AssetCollectionImporter, Sitecore.SharedSource.MediaFramework.YouTube"/>
          <add name="import_youtube_playlists" type="Sitecore.SharedSource.MediaFramework.YouTube.Import.PlaylistCollectionImporter, Sitecore.SharedSource.MediaFramework.YouTube"/>
          <add name="import_youtube_playlistitems" type="Sitecore.SharedSource.MediaFramework.YouTube.Import.PlaylistItemCollectionImporter, Sitecore.SharedSource.MediaFramework.YouTube"/>
          <add name="import_youtube_videos" type="Sitecore.SharedSource.MediaFramework.YouTube.Import.VideoCollectionImporter, Sitecore.SharedSource.MediaFramework.YouTube"/>
          <add name="import_youtube_channels" type="Sitecore.SharedSource.MediaFramework.YouTube.Import.ChannelCollectionImporter, Sitecore.SharedSource.MediaFramework.YouTube"/>
          <add name="import_youtube_channel_videos" type="Sitecore.SharedSource.MediaFramework.YouTube.Import.ChannelVideoCollectionImporter, Sitecore.SharedSource.MediaFramework.YouTube"/>
        </importExecuters>
      </mediaImport>

      <!-- PLACEHOLDER: FUTURE RELEASE -->
      <!--
      <mediaExport>
        <exportExecuters>
          <add name="youtube_video" templateId="{E2619092-0CE0-450E-B2AC-F3299F42ED4C}" type="Sitecore.SharedSource.MediaFramework.YouTube.Export.VideoExporter, Sitecore.SharedSource.MediaFramework.YouTube">
            <synchronizer ref="mediaFramework/synchronizers/*[@name='youtube_video'][1]"/>
          </add>
        </exportExecuters>
        <uploadExecuters>
          <add name="youtube_video" accountTemplate="{7A67AB0E-1000-467D-9D91-AC837F56EC1A}" type="Sitecore.SharedSource.MediaFramework.YouTube.Upload.VideoUploader, Sitecore.SharedSource.MediaFramework.YouTube">
            <synchronizer ref="mediaFramework/synchronizers/*[@name='youtube_video'][1]"/>
            <chunkSize>5000000</chunkSize>
            <Extensions>wmv,avi,mov,moov,mpg,mpeg,m2t,m2v,vob,flv,mp4,mpg4,mkv,asf,m4v,m2p,3gp,3g2,f4v,mp3,m4a,wma,aac</Extensions>
            <postProcessingStatus>live</postProcessingStatus>
          </add>
        </uploadExecuters>
      </mediaExport>
      -->
      
      <mediaCleanup>
        <cleanupExecuters>
          <add name="cleanup_youtube_tags" type="Sitecore.SharedSource.MediaFramework.YouTube.Cleanup.TagCleanupExecuter, Sitecore.SharedSource.MediaFramework.YouTube">
            <importName>import_youtube_tags</importName>
            <indexName>mediaframework_youtube_index</indexName>
            <templates hint="list:AddTemplate">
              <id>{77D9FD44-E388-4534-B37D-A8F9AB8504B6}</id>
            </templates>
          </add>
          <add name="cleanup_youtube_assets" type="Sitecore.SharedSource.MediaFramework.YouTube.Cleanup.AssetCleanupExecuter, Sitecore.SharedSource.MediaFramework.YouTube">
            <importNames hint="list:AddImportName">
              <importName>import_youtube_videos</importName>
              <importName>import_youtube_playlistitems</importName>
            </importNames>
            <indexName>mediaframework_youtube_index</indexName>
            <templates hint="list:AddTemplate">
              <id>{E2619092-0CE0-450E-B2AC-F3299F42ED4C}</id>
            </templates>
          </add>
          <add name="cleanup_youtube_playlists" type="Sitecore.SharedSource.MediaFramework.YouTube.Cleanup.PlaylistCleanupExecuter, Sitecore.SharedSource.MediaFramework.YouTube">
            <importName>import_youtube_playlists</importName>
            <indexName>mediaframework_youtube_index</indexName>
            <templates hint="list:AddTemplate">
              <id>{75DABEF6-6A24-4992-9887-5D027F9D73E7}</id>
            </templates>
          </add>
        </cleanupExecuters>
        <cleanupLinks>
          <add name="youtube_tag" templateId="{77D9FD44-E388-4534-B37D-A8F9AB8504B6}" type="Sitecore.MediaFramework.Cleanup.LinkDatabaseCleanupLinks, Sitecore.MediaFramework"/>
          <add name="youtube_video" templateId="{E2619092-0CE0-450E-B2AC-F3299F42ED4C}" type="Sitecore.MediaFramework.Cleanup.LinkDatabaseCleanupLinks, Sitecore.MediaFramework"/>
          <add name="youtube_playlist" templateId="{75DABEF6-6A24-4992-9887-5D027F9D73E7}" type="Sitecore.MediaFramework.Cleanup.LinkDatabaseCleanupLinks, Sitecore.MediaFramework"/>
        </cleanupLinks>
      </mediaCleanup>

      <playerMarkupGenerators>
        <add name="youtube_video" templateId="{E2619092-0CE0-450E-B2AC-F3299F42ED4C}" type="Sitecore.SharedSource.MediaFramework.YouTube.Players.YouTubePlayerMarkupGenerator,Sitecore.SharedSource.MediaFramework.YouTube">
          <embedHtml>&lt;iframe id='ytplayer{0}' type='text/html' src='//www.youtube.com/embed/{1}?enablejsapi=1' width='{2}' height='{3}' {4} /&gt;</embedHtml>
          <scriptUrl>//www.youtube.com/iframe_api</scriptUrl>
          <analyticsScriptUrl>/sitecore modules/Web/MediaFramework/js/Analytics/youtube.js</analyticsScriptUrl>
        </add>
        <add name="youtube_playlist" templateId="{75DABEF6-6A24-4992-9887-5D027F9D73E7}" type="Sitecore.SharedSource.MediaFramework.YouTube.Players.YouTubePlayerMarkupGenerator,Sitecore.SharedSource.MediaFramework.YouTube">
          <embedHtml>&lt;iframe id='ytplayer{0}' type='text/html' src='//www.youtube.com/embed/videoseries?list={1}%26enablejsapi=1' width='{2}' height='{3}' {4} /&gt;</embedHtml>
          <scriptUrl>//www.youtube.com/iframe_api</scriptUrl>
          <analyticsScriptUrl>/sitecore modules/Web/MediaFramework/js/Analytics/youtube.js</analyticsScriptUrl>
        </add>
      </playerMarkupGenerators>

      <scopeExecuteConfigurations>
        <add name="import_youtube_tags" type="Sitecore.MediaFramework.Scopes.ScopeExecuteConfiguration, Sitecore.MediaFramework">
          <accountTemplate>{7A67AB0E-1000-467D-9D91-AC837F56EC1A}</accountTemplate>
          <scope hint="list">
            <name>import_youtube_tags</name>
          </scope>
        </add>

        <add name="import_youtube_playlists" type="Sitecore.MediaFramework.Scopes.ScopeExecuteConfiguration, Sitecore.MediaFramework">
          <accountTemplate>{7A67AB0E-1000-467D-9D91-AC837F56EC1A}</accountTemplate>
          <scope hint="list">
            <name>import_youtube_playlistitems</name>
            <name>import_youtube_playlists</name>
          </scope>
        </add>

        <add name="import_youtube_videos" type="Sitecore.MediaFramework.Scopes.ScopeExecuteConfiguration, Sitecore.MediaFramework">
          <accountTemplate>{7A67AB0E-1000-467D-9D91-AC837F56EC1A}</accountTemplate>
          <scope hint="list">
            <name>import_youtube_tags</name>
            <name>import_youtube_videos</name>
          </scope>
        </add>

        <add name="import_youtube_channels" type="Sitecore.MediaFramework.Scopes.ScopeExecuteConfiguration, Sitecore.MediaFramework">
          <accountTemplate>{7A67AB0E-1000-467D-9D91-AC837F56EC1A}</accountTemplate>
          <scope hint="list">
            <name>import_youtube_tags</name>
            <name>import_youtube_videos</name>
            <name>import_youtube_playlistitems</name>
            <name>import_youtube_playlists</name>
            <name>import_youtube_channels</name>
          </scope>
        </add>

        <add name="import_youtube_content" type="Sitecore.MediaFramework.Scopes.ScopeExecuteConfiguration, Sitecore.MediaFramework">
          <accountTemplate>{7A67AB0E-1000-467D-9D91-AC837F56EC1A}</accountTemplate>
          <scope hint="list">
            <name>import_youtube_tags</name>
            <name>import_youtube_videos</name>
            <name>import_youtube_playlistitems</name>
            <name>import_youtube_playlists</name>
            <name>import_youtube_channels</name>
          </scope>
        </add>

        <add name="cleanup_youtube_content" type="Sitecore.MediaFramework.Scopes.ScopeExecuteConfiguration, Sitecore.MediaFramework">
          <accountTemplate>{7A67AB0E-1000-467D-9D91-AC837F56EC1A}</accountTemplate>
          <scope hint="list">
            <name>cleanup_youtube_tags</name>
            <name>cleanup_youtube_assets</name>
            <name>cleanup_youtube_playlists</name>
          </scope>
        </add>
      </scopeExecuteConfigurations>

      <playerEventsTriggers>
        <add name="youtube_video" templateId="{E2619092-0CE0-450E-B2AC-F3299F42ED4C}" type="Sitecore.SharedSource.MediaFramework.YouTube.Analytics.VideoEventTrigger,Sitecore.SharedSource.MediaFramework.YouTube" />
        <add name="youtube_playlist" templateId="{75DABEF6-6A24-4992-9887-5D027F9D73E7}" type="Sitecore.SharedSource.MediaFramework.YouTube.Analytics.PlaylistEventTrigger,Sitecore.SharedSource.MediaFramework.YouTube" />
      </playerEventsTriggers>
    </mediaFramework>
    <scheduling>
      <agent name="MediaFramework_Import_YouTube" type="Sitecore.MediaFramework.Schedulers.ImportScheduler, Sitecore.MediaFramework" interval="04:00:00">
        <param desc="database">master</param>
        <scopeConfigurations hint="raw:AddConfiguration">
          <add ref="mediaFramework/scopeExecuteConfigurations/*[@name='import_youtube_content'][1]"/>
        </scopeConfigurations>
      </agent>

      <agent name="MediaFramework_Cleanup_YouTube" type="Sitecore.MediaFramework.Schedulers.CleanupScheduler, Sitecore.MediaFramework" interval="08:00:00">
        <param desc="database">master</param>
        <scopeConfigurations hint="raw:AddConfiguration">
          <add ref="mediaFramework/scopeExecuteConfigurations/*[@name='cleanup_youtube_content'][1]"/>
        </scopeConfigurations>
      </agent>
    </scheduling>
  </sitecore>
</configuration>
